MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/libraryDB?retryWrites=true&w=majority
SESSION_SECRET=any_long_random_string
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
CALLBACK_URL=http://localhost:3000/auth/github/callback
PORT=3000